Repository superkingyj/django_blog_project-OneNaBle, pull requests merged in 2023-09, with the labels that each got.

#1 [Feat] view에 html 파일 경로 연결
  blog_project/blog_app/urls.py
  blog_project/blog_app/views.py
  blog_project/blog_project/urls.py
Labels: feature

#2 [Docs] 각 html 파일 생성 #1
  blog_project/blog_app/static/css/board_client.css
  blog_project/blog_app/static/css/board_write.css
  blog_project/blog_app/templates/board.html
  blog_project/blog_app/templates/board_admin.html
  blog_project/blog_app/templates/board_client.html
  blog_project/blog_app/templates/board_write.html
  blog_project/blog_app/templates/login.html
Labels: html & css

#3 Merge model to main
  blog_project/blog_app/models.py
  blog_project/blog_project/settings.py
Labels: models

#9 [Docs] board css추가/html수정 img/svg 추가
  blog_project/blog_app/static/css/board.css
  blog_project/blog_app/static/img/board_client/posting_04.svg
  blog_project/blog_app/static/img/common/black_log.svg
  blog_project/blog_app/templates/board.html
Labels: html & css

#14 View
  blog_project/blog_app/views.py
Labels: feature

#15 [Design] Css and js board/login css수정
  blog_project/blog_app/static/css/board.css
  blog_project/blog_app/static/css/board_admin.css
  blog_project/blog_app/static/css/board_client.css
  blog_project/blog_app/static/css/board_write.css
  blog_project/blog_app/static/css/footer.css
  blog_project/blog_app/static/css/login.css
  blog_project/blog_app/static/css/reset.css
  blog_project/blog_app/templates/board.html
  blog_project/blog_app/templates/login.html
Labels: html & css

#16 Templates
  README.md
  blog_project/blog_app/form.py
  blog_project/blog_app/static/img/board_write/ai.svg
  blog_project/blog_app/static/img/common/mylog_black.svg
  blog_project/blog_app/static/img/common/mylog_white.svg
  blog_project/blog_app/templates/board_admin.html
  blog_project/blog_app/templates/board_client.html
  blog_project/blog_app/templates/board_write.html
  blog_project/blog_project/settings.py
  blog_project/blog_project/urls.py
Labels: documentation, html & css, feature

#21 Merge templates to main
  blog_project/blog_app/models.py
  blog_project/blog_project/settings.py
Labels: bug, models

#30 Merge view to main
  blog_project/blog_app/form.py
  blog_project/blog_app/templates/board.html
  blog_project/blog_app/templates/board_admin.html
  blog_project/blog_app/templates/board_client.html
  blog_project/blog_app/templates/board_write.html
  blog_project/blog_app/templates/login.html
  blog_project/blog_app/urls.py
  blog_project/blog_app/views.py
  requirements.txt
Labels: html & css, feature

#35 Model
  blog_project/blog_app/migrations/0001_initial.py
  blog_project/blog_app/static/css/board.css
  blog_project/blog_app/templates/board.html
Labels: html & css

#36 Merge view to main
  blog_project/blog_app/static/css/board_client.css
  blog_project/blog_app/templates/board_client.html
  blog_project/blog_app/urls.py
  blog_project/blog_app/views.py
Labels: html & css, feature

#46 Merge css and js to main
  blog_project/blog_app/static/css/board_admin.css
  blog_project/blog_app/static/js/main.js
  blog_project/blog_app/static/js/test.js
Labels: javascript

#51 Merge css and js to main
  blog_project/blog_app/templates/base_content.html
  blog_project/blog_project/settings.py
Labels: fix
